<h1>Login to your account.</h1>
 
<form action="/users/login" method="POST">
  <label>Username:</label>
 
  <br>
 
  <input type="text" name="name">
  
  <br>
  <br
  
  <label>Password:</label>
 
  <br>
 
  <input type="password" name="password_digest">
 
  <br>
  <br>
  
  <input type="submit" value="Login">
</form>