<h1>Signup for an account.</h1>
 
<form action="/users/new" method="post">
  <label>Username:</label>
 
  <br>
 
  <input type="text" name="name">
  
  <br>
  <br>
  
  <label>Password:</label>
 
  <br>
 
  <input type="password" name="password">
 
  <br>
  <br>
  
  <input type="submit" value="Create Account">
</form>