<h1>Signup for an account.</h1>
 
<form action="/signup" method="POST">
  <label>Username:</label>
 
  <br>
 
  <input type="text" name="name" id="owner_name">
  
  <br>
  
  <label>Password:</label>
 
  <br>
 
  <input type="text" name="name" id="owner_name">
 
  <br>
 
  <input type="submit" value="Create Account">
</form>