<h2>  Edit an anime from your list!  </h2>

<form action="/animes/<%= @anime.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="title" value="<%= @anime.title %>">
   <input type="integer" name="rating" value="<%= @anime.rating %>">
  <input type="text" name="comments" value="<%= @anime.comments %>">
  
  <input type="submit">
  
</form>