<p><h2>Here's the newest added anime!</h2>

  <% @most_recent = @list.sort_by { |anime| anime[:created_at] }[-1] %> 
  <p> <%= @most_recent.title %> from <%= @most_recent.user.name %>'s list.</p>
  
<hr>
<a href="/animes"> Go back to your watched list </a></p>


