<div class="container">
  <h2><center>Welcome to AnimeWatchedList! Please sign in or sign up if you're new!</center></h2>
  
  <button onclick="window.location.href='/signup'">Sign Up</button>
  
  <button onclick="window.location.href='/login'">Log In</button>
  
  
 
</div>
