<div class="container">
  <h2><center>Welcome to AnimeWatchedList! Please log in or sign up if you're new!</center></h2>
  
  <button onclick="window.location.href='/users/signup'">Sign Up</button>
  
  <button onclick="window.location.href='/users/login'">Log In</button>
  
  
 
</div>
